<div class="container">
    <div ng-repeat="article in articles">
        <h3>{{ article.title }}</h3>
    </div>
    <!-- <code-mirror lang="python" line-numbers="true" model="code"></code-mirror> -->
    <!-- <div ui-codemirror ng-model="code" ui-codemirror-opts="editorOptions"></div> -->
    <!-- <textarea ui-codemirror="editorOptions">
        print datetime;
    </textarea> -->
    <hr>
     <div ui-codemirror="cmOption" ng-model="cmModel"></div>
</div>
<!-- <hr>
<code-mirror lang="js" model="code"></code-mirror>
<hr> -->
